:root {
    --primary-color: #A6528E;
    --secundary-color: #d397c2;
    --border-color: #521e43;
    --white: #fff;
    --wall-cell: linear-gradient(#ff95f1, #ffacf4);
    --space-cell: rgb(255, 224, 251);
    --begin-cell: rgb(124, 255, 255);
    --end-cell: rgb(255, 255, 93);
}

@font-face {
    font-family: Riffic;
    src: url("fonts/RifficFree-Bold.ttf");
}

body {
    background: url("src/texture.png");
    position: relative;
}

.start-game {
    position:absolute;
    left: 8vw;
    bottom: 45vh;
    color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--primary-color);
    font-size: 20pt;
    font-family: Riffic;
    cursor: pointer;
}

.start-game:hover{
    -webkit-text-stroke-color: var(--secundary-color);
}

.left-menu {
    position: absolute;
    width: 450px;
    height: 100vh;
    max-height: 105vh;
    background: url("src/left-menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: .4s;
    
}

.left-menu--hidden {
    transform: translateX(-100%);
    transition: .4s;
}

.sayori-sprite {
    position: absolute;
    transform: translateY(7%);
    left: 50vw;
    width: 260px;
    height: 700px;
    background: url("src/sayori-sprite.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: .4s;
}

.sayori-sprite--hidden {
    transform: translateY(200%);
    transition: .4s;
}

.loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg,#ffeefa,#ffccf1);
    transform: translateY(0%);
    transition: 1s;
    z-index: 10;
}

.loading--hidden {
    transform: translateY(-100%);
    transition: 1s;
}

.loading__logo {
    position: absolute;
    left: 33.5vw;
    top: 25vh;
    background-image: url("src/logo-menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    width:500px;
    height: 500px;
}

.cutscene-begin {
    position: absolute;
    top: 10vh;
    left: 15vw;
    background-image: url("./src/Cenario.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80vw;
    height: 80vh;
    transition: 1s;
}

.cutscene-begin__text-box {
    position: absolute;
    bottom: 0.5vw;
    left: 9vw;
    background: url("src/text-box.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 53vw;
    height: 200px;
}

.start-maze {
    font-family: Riffic;
    color: var(--white);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--border-color);
    position: absolute;
    right: 2.5vw;
    bottom: 1vw;
}

.cutscene-begin--hidden {
    z-index: -10;
    opacity: 0;
    transition: 1s;
}

.cutscene-end {
    top: 20vh;
    left: 34vw;
    position: absolute;
    background: url("src/end.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30vw;
    height: 59vh;
    opacity: 1;
    transition: .2s;
    z-index: 20;
}

.cutscene-end__text {
    position: absolute;
    bottom: 3vh;
    left: 5vw;
    font-family: Riffic;
    color: var(--white);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--primary-color);
}

.restart-maze {
    font-size: 8pt;
    font-family: Riffic;
    color: var(--white);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--primary-color);
    position: absolute;
    right: 0.5vw;
    bottom: 0.2vw;
}

.cutscene-end--hidden {
    opacity: 0;
    transition: .2s;
}

.maze {
    position: absolute;
    top: 3vh;
    left: 16vw;
    opacity: 1;
    transition: 1s;
}

.maze--hidden {
    opacity: 0;
    transition: 1s;
    z-index: -11
}

.row {
    display: flex;
}

.blank-cell {
    display: block;
    background: var(--space-cell);
    width: 50px;
    height: 50px;
}

.wall-cell {
    display: block;
    background: var(--wall-cell);
    width: 50px;
    height: 50px;
}

.begin-cell {
    display: block;
    background: var(--begin-cell);
    width: 50px;
    height: 50px;
}

.end-cell {
    display: block;
    background: var(--end-cell);
    width: 50px;
    height: 50px;
}

.sayori {
    position: absolute;
    width: 45px;
    cursor: pointer;
    left: 0;
    top:450px;
    margin-top: 3px;
}

.mc {
    margin-top: 3px;
    width: 45px;
}
.hidden {
    display: none;
}